* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    color: #00833b;
}

main {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    text-align: center;
}

h1 {
    display: flex;
    justify-content: center;
    width: 100%;
}

h2 {
    display: flex;
    justify-content: center;
    padding: 20px;
}

p {
    display: flex;
    justify-content: center;
    text-align: center;
}

.start-button {
    display: flex;
    justify-content: center;
}

.start-quiz {
    display: flex;
    align-items: center;
    background-color: #00833b;
    color: white;
    font-size: 24px;
    padding: 15px;
    border: none;
    border-radius: 5px;
}

#button-container-one {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 5px;
}

#button-container-two {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 5px;
}

#button-container-three {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 5px;
}

#button-container-four {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 5px;
}

.answerButton {
    display: flex;
    justify-content: center;
    background-color: blueviolet;
    color: white;
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
}